[BASIC]

function-naming-style=PascalCase
variable-naming-style=snake_case
class-naming-style=PascalCase
method-naming-style=PascalCase

[MASTER]

disable=
    C0114,               # missing-module-docstring
    C0115,               # missing-class-docstring
    C0116,               # missing-function-docstring
    wildcard-import,     # wildcard imports
    W0614,               # Unused imports
    C0301,               # Line too long
    E1101,               # Module "" has no "" Member